# Postgres
export DB_HOST=localhost
export DB_NAME=hello_dev
export DB_USERNAME=postgres
export DB_PASSWORD=postgres

export ERL_AFLAGS='-kernel shell_history enabled'

# User specific changes
# Overwrite defaults in this file with your own values in .envrc.custom
[ -f .envrc.custom ] && source .envrc.custom
